/* Estilos generales */
body {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
   background: linear-gradient(90deg, #f1970f, #d17f3be5);
  color: #f3f3fa;}
/* Header */
header {
  background: linear-gradient(90deg, #272727, #272727);
  color: white;
  text-align: center;
  padding: 20px;
  animation: fadeIn 2s ease-in-out;
}
navbar {}
.contenedor{
  text-align: left;
  height: 1px;
  width: 200px
}

header h1 {
  cursor: pointer;
  transition: transform 0.3s;
}

header h1:hover {
  transform: scale(1.1);
}

/* Navegación */
nav a {
  margin: 0 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animado {
  color: red;
  font-weight: bold;
  animation: parpadeo 1.5s infinite;
}

@keyframes parpadeo {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* Galería */
.galeria {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 20px;
}

.galeria img {
  border-radius: 10px;
  transition: transform 0.5s;
}

.galeria img:hover {
  transform: rotate(5deg) scale(1.1);
}

/* Formulario */
form {
  background: #fff;
  padding: 15px;
  margin: auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px gray;
}

input, textarea {
  width: 60%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


/* Footer */
footer {
  
  text-align: center;
  background: #000000;
  color: white;
  padding: 15px;
  margin-top: 20px;
}